<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

</head>
<style>
    .okok{
        height: 50px;
        width: 50px;
    }
</style>
<body>
<h3>Product</h3>
<p>
    <a th:href="@{/add}">
        Add new Product
    </a>
</p>

<table id = "product">
    <thead>
    <tr>
        <th>Name</th>
        <th>Age</th>
        <th>Score</th>
        <th>Name Class</th>
        <th>Edit</th>
        <th>Delete</th>
        <th>View</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="row : ${students}">
        <td th:text="${row.getName()}"></td>
        <td th:text="${row.getAge()}"></td>
        <td th:text="${row.getScore()}"></td>
        <td th:text="${row.getClassz().getName()}"></td>
        <td><a th:href="@{/edit/__${row.getId()}__}">edit</a></td>
        <td><a th:href="@{/delete/__${row.getId()}__}" onclick="if (confirm('Delete selected item?')){return true;}else{event.stopPropagation();
                                           event.preventDefault();};"
               title="Link Title"
        >delete</a></td>
        <td><a th:href="@{/{id}/view(id=${row.getId()})}">view</a></td>
    </tr>
    </tbody>
</table>
<form class="form-inline" >
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="key">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
</form>
<form class="form-inline" >
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit" name="key2">sap xep</button>
</form>
</body>
</html>